<div class="well col-xs-12" ng-click="openClaimDetail()">
  <div>
    <span>{{ detail.code }}</span>
    <span ng-if="isConsultTimeVisible(detail) && !isSimplifiedTemplate()">
      ({{ claim.consult_time_in }}-{{ claim.consult_time_out }})
    </span>
    <span ng-if="isSimplifiedTemplate()">
      ({{ detail.time_in }}-{{ detail.time_out }})
    </span>
    <span class="pull-right">
      {{ detail.fee / 100 | currency }}
    </span>
  </div>
  <div ng-repeat="premium in detail.premiums">
    <span>
      {{ premium.code }}
    </span>
    <span class="pull-right">
      {{ premium.fee / 100 | currency }}
    </span>
  </div>

</div>
