<div class="form-group row" ng-class="{'has-error': (detailForm.day.$dirty || submitted) && detailForm.day.$invalid}">
  <label for="day" class="control-label col-sm-3 xs-hidden">Date</label>
  <div class="col-xs-12 col-sm-9">
    <mb-date ng-model="detail.day" name="day" class="form-control input-lg" placeholder="Select date" required></mb-date>
    <div ng-messages="detailForm.day.$error" ng-show="(!dailyDetail || $first) && submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

<div class="form-group row" ng-class="{'has-error': (detailForm.code.$dirty || submitted) && detailForm.code.$invalid}">
  <label for="code" class="control-label col-sm-3 hidden-xs">Code</label>
  <div class="col-xs-10 col-sm-8">
    <input type="text" ng-model="detail.code" name="code" class="form-control input-lg" datasets="serviceCodes" mb-typeahead sf-typeahead required mb-scroll-into-view>
    <div ng-messages="detailForm.code.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>

  <div class="col-xs-2 col-sm-1">
    <button type="button" class="btn btn-danger btn-block" ng-click="remove(detail)">
      <i class="fa fa-close"></i>
    </button>
  </div>
</div>

<ng-form name="premiumForm" ng-repeat="premium in detail.premiums">
  <div class="form-group row" ng-class="{'has-error': (premiumForm.code.$dirty || submitted) && premiumForm.code.$invalid}">
    <label for="premium-code-{{ $index }}" class="control-label col-sm-3 hidden-xs">Premium Code</label>
    <div class="col-xs-10 col-sm-8">
      <input type="text" ng-model="premium.code" name="premium-code-{{ $index }}" class="form-control input-lg" datasets="serviceCodes" mb-typeahead sf-typeahead required mb-scroll-into-view>
      <div ng-messages="premiumForm.code.$error" ng-show="submitted">
        <p class="help-block" ng-message="required">is missing</p>
      </div>
    </div>

    <div class="col-xs-2 col-sm-1">
      <button type="button" class="btn btn-danger btn-block" ng-click="removePremium($index)">
        <i class="fa fa-close"></i>
      </button>
    </div>
  </div>
</ng-form>

<div class="form-group row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-3">
    <button type="button" class="btn btn-success btn-lg btn-block" ng-click="addPremium()">
      <i class="fa fa-asterisk"></i> Add a premium code
    </button>
  </div>
</div>

<div class="form-group row" ng-class="{'has-error': (detailForm.consult_time_in.$dirty || detailForm.consult_time_out.$dirty || submitted) && detailForm.consult_time.$invalid}" ng-if="isConsultTimeVisible(detail) && !isSimplifiedTemplate()">
  <label for="claim-details-consult-time-in" class="control-label col-xs-3 col-sm-3 hidden-xs">Time</label>
  <label for="claim-details-consult-time-in" class="control-label col-xs-3 col-sm-3 visible-xs">Time in</label>
  <div class="col-xs-9 col-sm-4">
    <mb-time name="consult_time_in" ng-model="claim.consult_time_in" class="form-control input-lg" id="claim-details-consult-time-in" placeholder="Select time" max="{{claim.consult_time_in}}" required></mb-time>
  </div>

  <label for="claim-details-consult-time-out" class="control-label col-xs-3 col-sm-3 visible-xs">Time out</label>
  <div class="col-xs-9 col-sm-4">
    <mb-time name="consult_time_out" ng-model="claim.consult_time_out" class="form-control input-lg" id="claim-details-consult-time-out" min="{{claim.consult_time_in}}" placeholder="Select time" required></mb-time>
  </div>

  <div class="col-xs-12 col-sm-12">
    <input class="hide" type="number" ng-model="claim.consult_time" name="consult_time" min="{{minConsultTime()}}" required>
    <div ng-messages="detailForm.consult_time.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">Total time must be equal to or greater than {{minConsultTime()}} minutes.</p>
    </div>
  </div>
</div>

<div ng-if="isSimplifiedTemplate()">
  <div class="form-group row">
    <div ng-class="{'has-error': (detailForm.time_in.$dirty || submitted) && detailForm.time_in.$invalid}">
      <label for="time_in" class="control-label col-xs-3 col-sm-3 hidden-xs">Time</label>
      <label for="time_in" class="control-label col-xs-3 col-sm-3 visible-xs">Time in</label>
      <div class="col-xs-9 col-sm-3">
        <mb-time name="time_in" ng-model="detail.time_in" class="form-control input-lg" max="{{detail.time_out}}" required></mb-time>
      </div>
      <div class="col-xs-9 col-xs-offset-3" ng-messages="detailForm.time_in.$error" ng-show="submitted">
        <p class="help-block" ng-message="required">is missing</p>
      </div>
    </div>

<!--     <div class="col-xs-12">&nbsp;</div> -->

    <div ng-class="{'has-error': (detailForm.time_out.$dirty || submitted) && detailForm.time_out.$invalid}">
      <label for="claim-details-consult-time-out" class="control-label col-xs-3 col-sm-3 visible-xs">Time out</label>
      <div class="col-xs-9 col-sm-3">
        <mb-time name="time_out" ng-model="detail.time_out" class="form-control input-lg" min="{{detail.time_in}}" required></mb-time>
      </div>
      <div class="col-xs-9 col-xs-offset-3" ng-messages="detailForm.time_out.$error" ng-show="submitted">
        <p class="help-block" ng-message="required">is missing</p>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-sm-9 form-control-static">
    <span class="pull-right" ng-if="detail.total_fee">
      {{ detail.total_fee / 100 | currency }}
    </span>

    <!-- span ng-if="detail.units">
      Units: {{ detail.units }}
    </span -->
  </div>

  <div class="col-xs-6 col-sm-3">
    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="closeClaimDetail()" alt="add premium code">
      <i class="fa fa-check"></i> OK
    </button>
  </div>

</div>

<div class="col-xs-12">&nbsp;</div>

