<div class="app" ng-if="loading">
  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>
        Loading…
      </span>
    </div>

    <div class="btn-group pull-left">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>

    <div class="btn-group pull-right">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="app-body">
    <div class="app-content-loading">
      <svg class="loading-spinner fa-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="50" fill="#007aff">
        <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
        <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z" />
      </svg>
    </div>
  </div>
</div>
