<form class="app" name="form" ng-submit="submit()" ng-if="locked" ng-controller="UnlockController" novalidate>
  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>Mo-Billing</span>
    </div>

    <div class="btn-group pull-left">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>

    <div class="btn-group pull-right">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="app-body">
    <div class="app-content">
      <div class="scrollable">
        <div class="scrollable-content section">
          <div class="panel">
            <div class="panel-body">
              <div class="form-group row" ng-class="{'has-error': (form.pin.$dirty || submitted) && form.pin.$invalid}">
                <div class="form-control-wrapper col-xs-12">
                  <input type="password" name="pin" ng-model="unlock.pin" class="form-control input-lg" id="unlock-pin" placeholder="Pin" pattern="^[0-9]{4}$" inputmode="numeric" mb-scroll-into-view mb-server required>
                  <div ng-messages="form.pin.$error" ng-show="submitted">
                    <p class="help-block" ng-message="required">is missing</p>
                    <p class="help-block" ng-message="pattern">should consist of 4 digits only</p>
                    <p class="help-block" ng-message="server">{{errors.pin[0]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions panel">
            <div class="panel-body">
              <button class="btn btn-primary btn-lg btn-block" ng-disabled="submitting">
                <span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i> Unlocking…</span>
                <span ng-hide="submitting"><i class="fa fa-unlock"></i> Unlock</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
