<ng-form name="commentsForm" class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <div class="list-group-item text-center" ng-if="claim.comments.length === 0">
        <span class="text-muted">no comments</span>
      </div>
      <div class="list-group-item" ng-repeat="comment in claim.comments">
        {{comment.body}}
        <span class="text-muted pull-right">{{comment.user_name}} on {{comment.created_at | date: "yyyy-MM-dd"}}</span>
      </div>
    </div>
  </div>
</ng-form>
