<div class="form-group row" ng-class="{'has-error': (claimForm.admission_on.$dirty || submitted) && claimForm.admission_on.$invalid}">
  <label class="control-label col-xs-12" for="claim-admission-on">Admission date</label>
  <div class="form-control-wrapper col-xs-12">
    <mb-date name="admission_on" ng-model="claim.admission_on" class="form-control input-lg" id="claim-admission-on" max="{{claim.last_seen_on}}" placeholder="Select date" required></mb-date>
    <div ng-messages="claimForm.admission_on.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-xs-12">First seen date is admission</label>
  <div class="form-control-wrapper col-xs-12">
    <mb-switch ng-model="claim.first_seen_on_admission" id="is-first-seen-on-hidden"></mb-switch>
  </div>
</div>
