<ng-form name="commentsForm" class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="comment in claim.comments">
        {{comment.body}}
        <span class="text-muted pull-right">{{comment.user_name}} on {{comment.created_at | date: "yyyy-MM-dd"}}</span>
      </div>
      <input type="text" name="comment" ng-model="claim.comment" class="form-control input-lg" id="claim-comment" placeholder="Add a new comment">
    </div>
  </div>
</ng-form>
