<ng-form name="detailsForm" class="scrollable detailsForm" ng-controller="ClaimEditDetailsController">
  <div class="scrollable-content section">
    <div class="panel" id="details">
      <div class="panel-body">
        <div class="row" ng-if="!isSimplifiedTemplate()">
          <div class="col-sm-12">
            <button type="button" class="btn btn-info btn-lg btn-block" toggle bubble target="consult-missing" ng-disabled="isGenerateDisabled || generating" ng-if="isConsultVisible() && !claim.consult_type">
              <span ng-show="generating"><i class="fa fa-spinner fa-spin"></i> Generating codes…</span>
              <span ng-hide="generating"><i class="fa fa-cogs"></i> Generate codes</span>
            </button>
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="generate()" ng-disabled="isGenerateDisabled || generating" ng-if="!isConsultVisible() || claim.consult_type">
              <span ng-show="generating"><i class="fa fa-spinner fa-spin"></i> Generating codes…</span>
              <span ng-hide="generating"><i class="fa fa-cogs"></i> Generate codes</span>
            </button>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" ng-class="{'has-error': submitted && detailsForm.daily_details_length.$invalid}">
            <input class="hide" type="number" ng-model="claim.daily_details.length" name="daily_details_length" min="1" required>
            <div ng-messages="detailsForm.daily_details_length.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">at least one code is required</p>
            </div>
          </div>
        </div>

        <ng-form name="dailyForm" ng-repeat="dailyDetail in claim.daily_details | unique : 'day'">

          <div class="col-xs-12" style="border-bottom: 1px solid;">
            <span>{{ dailyDetail.day | date : 'EEEE, MMMM d, yyyy' }}</span>
            <span class="pull-right">{{ claim.daily_details | filter : { day: dailyDetail.day } | sumByKey : 'total_fee' | divide : 100 | currency }}</span>
          </div>
          <div class="col-xs-12">&nbsp;</div>

          <ng-form name="detailForm" ng-repeat="detail in claim.daily_details | filter : { day: dailyDetail.day }" ng-controller="ClaimEditDetailController">
            <ng-include src="'common/detail_form.html'" ng-if="editing()"></ng-include>
            <ng-include src="'common/detail_text.html'" ng-if="!editing()"></ng-include>
          </ng-form>

          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success btn-lg btn-block add-code" ng-click="add({ day: dailyDetail.day })">
                <span class="visible"><i class="fa fa-plus"></i> Add a new code</span>
              </button>
              <br>
            </div>
          </div>
        </ng-form>

        <ng-form name="dailyForm" ng-if="!claim.daily_details || claim.daily_details.length===0">
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success btn-lg btn-block add-code" ng-click="add({ day: claim.procedure_on })">
                <span class="visible"><i class="fa fa-plus"></i> Add a new code</span>
              </button>
              <br>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</ng-form>
