<ng-form name="detailsForm" class="scrollable" ng-controller="ClaimEditDetailsController">
  <div class="scrollable-content section">
    <div class="panel" id="details">
      <div class="panel-body">
        <div class="alert alert-danger" ng-show="submitted && claim.status === 'unprocessed' && claimForm.$invalid">
          Please provide required details information or remove missing details below before submitting.
        </div>

        <div class="row" ng-if="!isSimplifiedTemplate()">
          <div class="col-sm-12">
            <button type="button" class="btn btn-info btn-lg btn-block" toggle bubble target="consult-missing" ng-disabled="isGenerateDisabled || generating" ng-if="isConsultVisible() && !claim.consult_type">
              <span ng-show="generating"><i class="fa fa-spinner fa-spin"></i> Generating codes…</span>
              <span ng-hide="generating"><i class="fa fa-cogs"></i> Generate codes</span>
            </button>
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="generate()" ng-disabled="isGenerateDisabled || generating" ng-if="!isConsultVisible() || claim.consult_type">
              <span ng-show="generating"><i class="fa fa-spinner fa-spin"></i> Generating codes…</span>
              <span ng-hide="generating"><i class="fa fa-cogs"></i> Generate codes</span>
            </button>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" ng-class="{'has-error': submitted && detailsForm.daily_details_length.$invalid}">
            <input class="hide" type="number" ng-model="claim.daily_details.length" name="daily_details_length" min="1" required>
            <div ng-messages="detailsForm.daily_details_length.$error" ng-show="submitted">
              <p class="help-block" ng-message="required">at least one code is required</p>
            </div>
          </div>
        </div>

        <div ng-repeat="dailyDetail in claim.daily_details | unique : 'day'">
          <ng-form name="detailForm" ng-repeat="detail in claim.daily_details | filter : { day: dailyDetail.day }" ng-controller="ClaimEditDetailController">
            <div class="row">
              <ng-include src="'common/detail_form.html'"></ng-include>

              <div class="col-xs-4 col-sm-2 col-md-1">
                <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="remove(detail)">
                  <i class="fa fa-times"></i>
                </button>
                <br>
              </div>
            </div>
          </ng-form>

          <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-10 col-md-1 col-md-offset-11">
              <button type="button" class="btn btn-success btn-lg btn-block" ng-click="add({ day: dailyDetail.day })">
                <span class="hidden-xs"><i class="fa fa-plus"></i></span>
                <span class="visible-xs"><i class="fa fa-plus"></i> Add a new code</span>
              </button>
              <br>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="add({ day: null })">
              <i class="fa fa-plus"></i> Add a new day
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
