<div class="row">
  <label class="control-label col-xs-12" for="claim-diagnoses-0-name">Diagnoses</label>
  <ng-form class="col-xs-12" name="diagnosisForm" ng-repeat="diagnosis in claim.diagnoses">
    <div class="form-group row" ng-class="{'has-error': (diagnosisForm.name.$dirty || submitted) && diagnosisForm.name.$invalid}">
      <div class="form-control-wrapper col-xs-8 col-sm-10 col-md-11">
        <input id="claim-diagnoses-{{$index}}-name" type="text" name="name" ng-model="diagnosis.name" class="form-control input-lg" datasets="diagnoses" sf-typeahead mb-typeahead required mb-scroll-into-view>
        <div ng-messages="diagnosisForm.name.$error" ng-show="submitted">
          <p class="help-block" ng-message="required">is missing</p>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <button type="button" class="btn btn-lg btn-danger btn-block" ng-click="remove(diagnosis)" ng-disabled="claim.diagnoses.length <= 1">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </ng-form>
</div>

<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-lg btn-success btn-block" ng-click="add()"><i class="fa fa-plus"></i> Add a new diagnosis</button>
  </div>
</div>

