
<div class="form-group row" ng-class="{'has-error': (claimForm.patient_number.$dirty || submitted) && claimForm.patient_number.$invalid}">
  <label for="claim-patient-number" class="control-label col-xs-12">Patient number</label>
  <div class="form-control-wrapper col-xs-12">
    <input type="text" name="patient_number" ng-model="claim.patient_number" class="form-control input-lg" id="claim-patient-number" mb-scroll-into-view>
    <div ng-messages="claimForm.patient_number.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

<div class="form-group row" ng-class="{'has-error': (claimForm.patient_province.$dirty || submitted) && claimForm.patient_province.$invalid}">
  <label for="claim-patient-province" class="control-label col-xs-12">Patient province</label>
  <div class="form-control-wrapper col-xs-12">
    <select name="patient_province" ng-model="claim.patient_province" class="form-control input-lg" id="claim-patient-province" ng-options="province.code as province.name for province in province_codes"></select>
    <div ng-messages="claimForm.patient_province.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

<div class="form-group row" ng-class="{'has-error': (claimForm.patient_birthday.$dirty || submitted) && claimForm.patient_birthday.$invalid}">
  <label for="claim-patient-birthday" class="control-label col-xs-12">Patient birthday</label>
  <div class="form-control-wrapper">
    <div class="col-xs-9">
      <input type="text" mb-date-valid name="patient_birthday" ng-model="claim.patient_birthday" class="form-control input-lg" id="claim-patient-birthday"></input>
    </div>
    <div class="col-xs-3">
      <label class="btn btn-primary btn-lg btn-block">
        <i class="fa fa-chevron-down"></i>
        <mb-date name="patient_birthday_picker" ng-model="claim.patient_birthday" class="hide" id="claim-patient-birthday-picker" placeholder="Select" max="{{ today }}" birthday="1" ></mb-date>
      </label>
    </div>
    <div ng-messages="claimForm.patient_birthday.$error">
      <p class="help-block" ng-message="required">is missing</p>
      <p class="help-block" ng-message="format">must be in YYYY-mm-dd format</p>
    </div>
  </div>
</div>

<div class="form-group row" ng-class="{'has-error': (claimForm.patient_sex.$dirty || submitted) && claimForm.patient_sex.$invalid}">
  <label for="claim-patient-sex" class="control-label col-xs-12">Patient sex</label>
  <div class="form-control-wrapper col-xs-12">
    <div type="btn-group">
      <label class="btn btn-default btn-lg" ng-class="{ 'btn-primary': claim.patient_sex == 'F' }">
        <input type="radio" id="patient-sex-female" ng-model="claim.patient_sex" value="F" name="patient_sex" class="hide">
        Female
      </label>
      <label class="btn btn-default btn-lg"  ng-class="{ 'btn-primary': claim.patient_sex == 'M' }">
        <input type="radio" id="patient-sex-male" ng-model="claim.patient_sex" value="M" name="patient_sex" class="hide">
        Male
      </label>
    </div>
    <div ng-messages="claimForm.patient_sex.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

