<div class="form-group row">
  <label for="photo-file" class="control-label col-xs-12">Patient photo</label>
  <a href="{{photo.url}}" class="form-control-wrapper col-xs-12" ng-if="photo" target="photo-preview" toggle>
    <img ng-src="{{photo.small_url}}" width="300" class="thumbnail">
  </a>
  <div class="form-control-wrapper col-xs-12">
    <span class="btn btn-primary btn-lg" disabled="disabled" ng-show="uploading">
      <i class="fa fa-spinner fa-spin"></i> Uploading…
    </span>
    <span class="btn btn-primary btn-lg fileinput-button" ng-hide="uploading">
      <i class="fa fa-camera"></i> Upload
      <input type="file" mb-upload="file" id="photo-file" accept="image/*;capture=camera">
    </span>
  </div>
</div>
