<div class="form-group row" ng-class="{'has-error': (claimForm.payee.$dirty || submitted) && claimForm.payee.$invalid}">
  <label for="claim-payee" class="control-label col-xs-12">Payee</label>
  <div class="form-control-wrapper col-xs-12">
    <div type="btn-group">
      <label class="btn btn-default btn-lg" ng-class="{ 'btn-primary': claim.payee === 'P' }">
        <input type="radio" id="payee" ng-model="claim.payee" value="P" name="payee" class="hide">
        Provider
      </label>
      <label class="btn btn-default btn-lg" ng-class="{ 'btn-primary': claim.payee === 'S' }">
        <input type="radio" id="payee" ng-model="claim.payee" value="S" name="payee" class="hide">
        Patient
      </label>
    </div>
    <div ng-messages="claimForm.payment_program.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

