<div class="form-group row" ng-class="{'has-error': (claimForm.referring_laboratory.$dirty || submitted) && claimForm.referring_laboratory.$invalid}">
  <label for="claim-referring-laboratory" class="control-label col-xs-12">Referring Laboratory</label>
  <div class="form-control-wrapper col-xs-12">
    <input type="text" name="referring_laboratory" ng-model="claim.referring_laboratory" class="form-control input-lg" id="claim-referring-laboratory">
    <div ng-messages="claimForm.referring_laboratory.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

