<div class="form-group row" ng-class="{'has-error': (claimForm.service_location.$dirty || submitted) && claimForm.service_location.$invalid}">
  <label for="claim-service-location" class="control-label col-xs-12">Service Location</label>
  <div class="form-control-wrapper col-xs-12">
    <select name="service_location" ng-model="claim.service_location" class="form-control input-lg" id="claim-service-location" ng-options="location.code as location.name for location in service_locations"></select>
    <div ng-messages="claimForm.service_location.$error" ng-show="submitted">
      <p class="help-block" ng-message="required">is missing</p>
    </div>
  </div>
</div>

