<div class="container">
  <%= form_for @interactor, url: admin_admin_users_path, html: {class: "form-horizontal"} do |form| %>
    <%= render "form", form: form %>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <%= icon_submit "check", "Create", type: "submit", class: "btn btn-primary" %>
        <%= icon_link_to "times", "Cancel", admin_admin_users_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
