.container .full.column {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
}

.flexslider a {
    line-height: initial;
}

.agentphotosize {
    height: 200px;
    with: auto;
}

form.login label {
  display: inline;
}

form.login input {
  display: inline;
}

form.login {
  text-align: right;
}
