<div class="container">
  <br>
  <div class="alert alert-danger" role="alert">
    <h3><i class="fa fa-exclamation-triangle"></i> Error!</h3>
    <p>Your password reset token is missing or invalid. Password reset tokens are valid only for 24 hours, they are also invalidated when the password has been changed manually.</p>
    <p>If the problem persists, please contact with the administrator.</p>
  </div>
</div>
