<div class="container">
  <br>
  <div class="alert alert-success" role="alert">
    <h3><i class="fa fa-check-circle"></i> Success!</h3>
    <p>We have generated and sent you a new password for the account. Please check your inbox.</p>
  </div>
</div>
