<div class="col-sm-4 col-xs-12" ng-class="{'has-error': (detailForm.day.$dirty || submitted) && detailForm.day.$invalid}">
  <label class="visible-xs control-label" ng-show="$first || !dailyDetail">Day</label>
  <mb-date ng-model="detail.day" name="day" class="form-control input-lg" ng-show="!dailyDetail || $first" required></mb-date>
  <div ng-messages="detailForm.day.$error" ng-show="(!dailyDetail || $first) && submitted">
    <p class="help-block" ng-message="required">is missing</p>
  </div>
</div>

<div class="col-xs-12 visible-xs">&nbsp;</div>

<div class="col-sm-7 col-xs-12" ng-class="{'has-error': (detailForm.code.$dirty || submitted) && detailForm.code.$invalid}">
  <label class="visible-xs control-label">Code</label>
  <input type="text" ng-model="detail.code" name="code" class="form-control input-lg" datasets="serviceCodes" mb-typeahead sf-typeahead required>
  <div ng-messages="detailForm.code.$error" ng-show="submitted">
    <p class="help-block" ng-message="required">is missing</p>
  </div>

  <div class="form-group row" ng-class="{'has-error': (detailForm.consult_time_in.$dirty || detailForm.consult_time_out.$dirty || submitted) && detailForm.consult_time.$invalid}" ng-if="isConsultTimeVisible(detail)">
    <label for="claim-details-consult-time-in" class="control-label col-xs-4">Time in</label>
    <div class="col-xs-8">
      <mb-time name="consult_time_in" ng-model="claim.consult_time_in" class="form-control input-lg" id="claim-details-consult-time-in" required></mb-time>
    </div>

    <div class="col-xs-12">&nbsp;</div>

    <label for="claim-details-consult-time-out" class="control-label col-xs-4">Time out</label>
    <div class="col-xs-8">
      <mb-time name="consult_time_out" ng-model="claim.consult_time_out" class="form-control input-lg" id="claim-details-consult-time-out" min="{{claim.consult_time_in}}" required></mb-time>
    </div>

    <div class="col-xs-12">
      <input class="hide" type="number" ng-model="claim.consult_time" name="consult_time" min="{{minConsultTime()}}" required>
      <div ng-messages="detailForm.consult_time.$error" ng-show="submitted">
        <p class="help-block" ng-message="required">Total time must be equal to or greater than {{minConsultTime()}} minutes.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 visible-xs">&nbsp;</div>
