<a href="#/claims/new_{{user.specialties[0]}}" class="btn-group pull-right" ng-if="user.specialties.length === 1">
  <div class="btn btn-navbar">
    <i class="fa fa-plus"></i> New
  </div>
</a>

<div class="btn-group pull-right" ng-if="user.specialties.length > 1">
  <div class="btn-group pull-right toggleable-dropdown" active-class="open" id="new" toggleable>
    <button type="button" class="btn btn-default dropdown-toggle" toggle target="new" ng-disabled="submitting">
      <i class="fa fa-plus"></i> New
    </button>
    <ul class="dropdown-menu" role="menu" toggle="off" bubble target="new">
      <li ng-repeat="specialty in user.specialties">
        <a href="#/claims/new_{{specialty}}"><i class="fa fa-file-text-o"></i> {{specialty | inflector}}</a>
      </li>
    </ul>
  </div>
</div>
