<div ng-include="'sidebar.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="menu-sidebar">
</div>

<div class="app">
  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>Edit Account</span>
    </div>

    <div class="btn-group pull-left">
      <div ng-click="toggle('menu-sidebar')" class="btn btn-navbar sidebar-toggle">
        <i class="fa fa-bars"></i> Menu
      </div>
    </div>
</div>
<div class="app-body">
  <div ng-show="loading" class="app-content-loading">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
  </div>

  <div ng-show="!loading" class="app-content" ng-include="'account-edit-account.html'"></div>
</div>
