<table id='claims-table' class="table table-striped sort-table">
  <thead>
    <tr ng-class="{reverse: reverse}">
      <th ng-click="clickHeader('created_at')" ng-class="{current: predicate == 'created_at'}">
        <div class='text'>Submitted Date</div>
      </th>
      <th ng-click="clickHeader('doctor')" ng-class="{current: predicate == 'doctor'}">
        <div class='text'>Doctor</div>
      </th>
      <th ng-click="clickHeader('state')" ng-class="{current: predicate == 'state'}">
        <div class='text'>State</div>
      </th>
      <th ng-click="clickHeader('patient_name')" ng-class="{current: predicate == 'patient_name'}">
        <div class='text'>Patient Name</div>
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="claim in claims | orderBy:predicate:reverse">
      <td>{{claim.created_at | date: 'short'}}</td>
      <td>{{claim.doctor_name}}</td>
      <td>{{claim.status}}</td>
      <td>{{claim.patient_name}}</td>
      <td>
        <a href="/#/claims/{{claim.id}}/edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>