<div class="scrollable">
  <div class="scrollable-content section">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-offset-6 col-xs-3 text-center">
            <label>ER</label>
          </div>
          <div class="col-xs-3 text-center">
            <label>Non-ER</label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <label>General</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_general_er" ng-change="toggleConsultType('general_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_general_non_er" ng-change="toggleConsultType('general_non_er')" class="center-block"></switch>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <label>Comprehensive</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_comprehensive_er" ng-change="toggleConsultType('comprehensive_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_comprehensive_non_er" ng-change="toggleConsultType('comprehensive_non_er')" class="center-block"></switch>
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (form.consult_time_in.$dirty || submitted) && form.consult_time_in.$invalid}" ng-show="isTimeVisible()">
          <label for="claim-consult-time-in" class="control-label col-xs-12">Time in</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="time" name="consult_time_in" ng-model="claim.consult_time_in" class="form-control input-lg" id="claim-consult-time-in">
          </div>
        </div>

        <div class="form-group row" ng-class="{'has-error': (form.consult_time_out.$dirty || submitted) && form.consult_time_out.$invalid}" ng-show="isTimeVisible()">
          <label for="claim-consult-time-out" class="control-label col-xs-12">Time out</label>
          <div class="form-control-wrapper col-xs-12">
            <input type="time" name="consult_time_out" ng-model="claim.consult_time_out" class="form-control input-lg" id="claim-consult-time-out">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <label>Limited</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_limited_er" ng-change="toggleConsultType('limited_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_limited_non_er" ng-change="toggleConsultType('limited_non_er')" class="center-block"></switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
