<ng-form name="consultForm" class="scrollable" ng-controller="ClaimEditConsultController" ng-if="isConsultVisible()">
  <div class="scrollable-content section">
    <div class="panel" id="consult">
      <div class="panel-body">
        <div class="alert alert-danger" ng-show="submitted && consultForm.$invalid">
          Please provide required consult information below before submitting.
        </div>

        <div class="form-group" ng-class="{'has-error': (consultForm.consult_type.$dirty || submitted) && consultForm.consult_type.$invalid}">
          <div class="row">
            <div class="col-xs-offset-6 col-xs-3 text-center">
              <label class="control-label">ER</label>
            </div>
            <div class="col-xs-3 text-center">
              <label class="control-label">Non-ER</label>
            </div>
          </div>

          <div class="row" ng-repeat="consultType in consultTypes">
            <div class="col-xs-6">
              <label class="control-label">{{consultType | inflector}}</label>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="{{consultType}}_er" id="claim-consult-type-{{consultType | dasherize}}-er"></mb-switch>
              <span class="label label-info">{{consultCode(claim.specialty, consultType + "_er")}}</span>
            </div>
            <div class="col-xs-3 text-center">
              <mb-switch ng-model="claim.consult_type" class="center-block" on-value="{{consultType}}_non_er" id="claim-consult-type-{{consultType | dasherize}}-non-er"></mb-switch>
              <span class="label label-info">{{consultCode(claim.specialty, consultType + "_non_er")}}</span>
            </div>

            <div class="col-xs-12" ng-if="claim.consult_type.indexOf(consultType) === 0 && isConsultTimeVisible()">
              <div class="form-group row" ng-class="{'has-error': (consultForm.consult_time_in.$dirty || consultForm.consult_time_out.$dirty || submitted) && consultForm.consult_time.$invalid}">
                <label for="claim-consult-time-in" class="control-label col-xs-6">
                  Time in
                </label>
                <div class="col-xs-6">
                  <mb-time name="consult_time_in" ng-model="claim.consult_time_in" class="form-control input-lg" id="claim-consult-time-in" required></mb-time>
                </div>

                <div class="col-xs-12">&nbsp;</div>

                <label for="claim-consult-time-out" class="control-label col-xs-6">
                  Time out
                </label>
                <div class="col-xs-6">
                  <mb-time name="consult_time_out" ng-model="claim.consult_time_out" class="form-control input-lg" id="claim-consult-time-out" required></mb-time>
                </div>

                <div class="col-xs-12">
                  <input class="hide" type="number" ng-model="claim.consult_time" name="consult_time" min="{{minConsultTime()}}" required>
                  <div ng-messages="consultForm.consult_time.$error" ng-show="submitted">
                    <p class="help-block" ng-message="required">Total time must be equal to or greater than {{minConsultTime()}} minutes.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12">&nbsp;</div>
          </div>

          <div class="form-group row">
            <label class="control-label col-xs-12">Special visit premium</label>
            <div class="col-xs-12">
              <mb-switch ng-model="isPremiumVisitVisible" id="is-premium-visible"></mb-switch>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (consultForm.consult_premium_visit.$dirty || submitted) && consultForm.consult_premium_visit.$invalid}" ng-if="isPremiumVisitVisible">

            <div ng-if="!dayType" class="has-error form-group row">
              <div class="col-xs-12">
                <p class="help-block">No admission date is set. Please ensure that the <em>Claim</em> tab has been completed before filling <em>Consult</em> details.</p>
              </div>
            </div>

            <div ng-if="dayType">
              <div class="form-group row">
                <label class="control-label col-xs-12">Travel premium</label>
                <div class="col-xs-12">
                  <mb-switch ng-model="claim.consult_premium_travel" id="claim-consult-premium-travel"></mb-switch>
                </div>
              </div>

              <div ng-if="dayType === 'weekday'">
                <div class="row form-group" ng-if="claim.consult_premium_travel" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekday_day')}">
                  <label class="control-label col-xs-12">
                    Day 7:00-17:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekday_day")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_day" id="claim-consult-premium-visit-weekday-day" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekday_day')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekday_day}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekday_office_hours')}">
                  <label class="control-label col-xs-12">
                    Office hours 7:00-17:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekday_office_hours")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_office_hours" id="claim-consult-premium-visit-weekday-office-hours" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekday_office_hours')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekday_office_hours}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekday_evening')}">
                  <label class="control-label col-xs-12">
                    Evening 17:00-0:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekday_evening")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_evening" id="claim-consult-premium-visit-weekday-evening" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekday_evening')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekday_evening}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekday_night')}">
                  <label class="control-label col-xs-12">
                    Night 0:00-7:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekday_night")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekday_night" id="claim-consult-premium-visit-weekday-night" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekday_night')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekday_night}}</span>
                  </div>
                </div>
              </div>

              <div ng-if="dayType === 'weekend'">
                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekend_day')}">
                  <label class="control-label col-xs-12">
                    Weekend 7:00-0:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekend_day")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekend_day" id="claim-consult-premium-visit-weekend-day" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekend_day')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekend_day}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('weekend_night')}">
                  <label class="control-label col-xs-12">
                    Night 0:00-7:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "weekend_night")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="weekend_night" id="claim-consult-premium-visit-weekend-night" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('weekend_night')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.weekend_night}}</span>
                  </div>
                </div>
              </div>

              <div ng-if="dayType === 'holiday'">
                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('holiday_night')}">
                  <label class="control-label col-xs-12">
                    Holiday 7:00-0:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "holiday_day")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="holiday_day" id="claim-consult-premium-visit-holiday-day" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('holiday_night')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.holiday_night}}</span>
                  </div>
                </div>

                <div class="row" ng-class="{'text-muted': isConsultPremiumVisitDisabled('holiday_night')}">
                  <label class="control-label col-xs-12">
                    Night 0:00-7:00
                    <span class="label label-info">{{premiumVisitCode(claim.consult_premium_first, claim.consult_type, "holiday_night")}}</span>
                  </label>
                  <div class="col-xs-12">
                    <mb-switch ng-model="claim.consult_premium_visit" on-value="holiday_night" id="claim-consult-premium-visit-holiday-night" class="pull-left" ng-disabled="isConsultPremiumVisitDisabled('holiday_night')"></mb-switch>
                    &nbsp;
                    <span class="control-label">You already have {{consultCounts.holiday_night}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <input type="hidden" name="consult_premium_visit" ng-model="claim.consult_premium_visit" required>
                <div ng-messages="consultForm.consult_premium_visit.$error" ng-show="submitted">
                  <p class="help-block" ng-message="required">is missing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-form>
