<div class="scrollable">
  <div class="scrollable-content section">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-offset-6 col-xs-3 text-center">
            <label>ER</label>
          </div>
          <div class="col-xs-3 text-center">
            <label>Non-ER</label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <label>General</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_general_er" ng-change="setConsultType('general_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_general_non_er" ng-change="setConsultType('general_non_er')" class="center-block"></switch>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <label>Comprehensive</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_comprehensive_er" ng-change="setConsultType('comprehensive_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_comprehensive_non_er" ng-change="setConsultType('comprehensive_non_er')" class="center-block"></switch>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <label>Limited</label>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_limited_er" ng-change="setConsultType('limited_er')" class="center-block"></switch>
          </div>
          <div class="col-xs-3 text-center">
            <switch ng-model="claim.consult_type_limited_non_er" ng-change="setConsultType('limited_non_er')" class="center-block"></switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
