<table class="table table-striped">
  <thead>
    <tr>
      <th>
        ▴&nbsp;Doctor
      </th>
      <th class="text-center">
        Saved Count
      </th>
      <th class="text-center">
        Unprocessed Count
      </th>
      <th class="text-center">
        Processed Count
      </th>
      <th class="text-center">
        Rejected Admin Attention Count
      </th>
      <th class="text-center">
        Rejected Doctor Attention Count
      </th>
      <th class="text-center">
        Paid Count
      </th>
      <th class="text-right">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>