<ng-include src="'common/loading.html'"></ng-include>

<form class="app" name="form" ng-submit="submit()" novalidate>
  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>Mo-Billing</span>
    </div>

    <div class="btn-group pull-left">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>

    <div class="btn-group pull-right">
      <div class="btn btn-navbar">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="app-body">
    <div class="app-content">
      <div class="scrollable">
        <div class="scrollable-content section">
          <div class="panel">
            <div class="panel-body">
              <div class="form-group row" ng-class="{'has-error': (form.email.$dirty || submitted) && form.email.$invalid}">
                <div class="form-control-wrapper col-xs-12">
                  <input type="email" name="email" ng-model="passwordReset.email" class="form-control input-lg" id="password-reset-email" placeholder="Email" mb-server mb-scroll-into-view required>
                  <div ng-messages="form.email.$error" ng-show="submitted">
                    <p class="help-block" ng-message="required">is missing</p>
                    <p class="help-block" ng-message="email">is invalid</p>
                    <p class="help-block" ng-message="server">{{errors.email[0]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions panel">
            <div class="panel-body">
              <button class="btn btn-primary btn-lg btn-block" ng-disabled="submitting">
                <span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i> Sending instructions…</span>
                <span ng-hide="submitting"><i class="fa fa-envelope-o"></i> Send instructions</span>
              </button>
              <br>
              <a href="#/sign-in" class="btn btn-link btn-lg btn-block">Sign in now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
