<h1 class="app-name">Mo-Billing</h1>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="menu-sidebar">
      <a class="list-group-item" href="#/claims/saved"><i class="fa fa-list"></i> Drafts <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/claims/submitted"><i class="fa fa-list"></i> Submitted <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/claims/rejected"><i class="fa fa-list"></i> Rejected <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/claims/paid"><i class="fa fa-list"></i> Paid <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/account/edit"><i class="fa fa-user"></i> Profile <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/unlock"><i class="fa fa-lock"></i> Lock screen</a>
      <a class="list-group-item" href="#/sign-out"><i class="fa fa-sign-out"></i> Sign out</a>
    </div>
  </div>
</div>
