/*
 *= require custom_bootstrap/custom_bootstrap
 *= require font-awesome/less/font-awesome
 *= require ./fonts
 *= require ./fileupload
 *= require ./collapse-chevron
 *= require pickadate/lib/themes/default.css
 *= require pickadate/lib/themes/default.date.css
 *= require pickadate/lib/themes/default.time.css
 */

@font-family-sans-serif: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-weight: 300;
}

.max-height-clickable.on {
    max-height: 95px;
    overflow: hidden;
}