@import "mobile-angular-ui/less/mobile-angular-ui";
@import "./fonts";
@import "./fileupload";

@fa-font-path: "/assets";
@font-family-sans-serif: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
