<div class="container">
  <%= form_for @interactor, url: admin_users_path, html: {class: "form-horizontal"} do |form| %>
    <%= render "form", form: form %>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <%= icon_submit "ok", "Create", type: "submit", class: "btn btn-success" %>
        <%= icon_link_to "remove", "Cancel", admin_users_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
