<div class="container">
  <% props = {}
     props[:userStore] = current_user.as_json(include_doctors: true, include_warnings: true)
     props[:params] = { id: @claim.id }
     props[:claimStore] = {
       claims: { @claim.id => @claim.as_json },
       stack: @stack,
     } %>
  <%= react_component('ClaimEdit', props, {generator_function: true, prerender: false}) %>
</div>

