<div class="container">
  <%= react_component('ClaimEdit', {
      claim: @form.as_json(include_comments: true, include_photo: true, include_warnings: true),
      user: @user.as_json,
      stack: params['stack'] || [],
      backURL: admin_claims_path,
      url: admin_claim_path(@form.claim)
      }) %>
</div>

