<div class="container">
  <div id="react" />
  <script>
  var props= <%= props = {}
      props[:userStore] = current_user.as_json(include_doctors: true, include_warnings: true)
      props[:params] = { id: @claim.id, backURL: admin_claims_path }
      props[:claimStore] = {
        claims: { @claim.id => @claim.as_json },
        claimList: [ @claim.id ],
        stack: @stack,
      }
      props.to_json.html_safe
  %>;
   React.render(React.createElement(NativePatientPage, props), document.getElementById('react'));
  </script>
</div>

