<div class="container">
  <% props = {}
     props[:userStore] = current_user.as_json(include_doctors: true, include_warnings: true)
     props[:params] = { ackURL: admin_claims_path, status: @claims[0].status }
     props[:claimStore] = {
       claims: Hash[@claims.collect { |claim| [claim.id, claim] }],
       claimList: @claims.map(&:id),
     } %>
  <%= react_component('ClaimsBulk', props, {generator_function: true, prerender: false}) %>
</div>
