<script>
<% @forms.each do |form| %>
claimActionsFor("<%= form.claim.id %>").init(<%= form.as_json(include_comments: true, include_photo: true, include_warnings: true, include_submission: true, include_total: true, include_files: true, include_consult_counts: true).merge(template: 'agent').to_json.html_safe %>);
<% end %>
</script>
<div class="container">
  <%= react_component('ClaimsBulk', {
      ids: @claims.map(&:id),
      user: @user.as_json,
      status: @claims[0].status
      }) %>
</div>
