<div class="container">
  <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%# raw required because of https://groups.google.com/forum/#!topic/rubyonrails-core/z52zgDgUmbs %>
      <%= raw flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert].present? %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= sanitize flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= sanitize flash[:error] %>
    </div>
  <% end %>
</div>
