<!DOCTYPE html>
<html>
<head>

  <title>BillOHIP</title>
  <%= stylesheet_link_tag 'v3', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=0" />
  <script>
    window.ENV = {
      API_ROOT: "/",
      CORDOVA: false
    };
  </script>
  <%= javascript_include_tag 'v3' %>
</head>
<body>
  <% props = {}
     props[:userStore] = @current_user.as_json(include_doctors: true, include_warnings: true) if @current_user
  %>
  <%= react_component('App', props, {generator_function: true, prerender: false}) %>
</body>
</html>
