<!DOCTYPE html>
<html>
<head>

<title>Mo-Billing</title>
<%= stylesheet_link_tag "v3_rails-cleaned", media: "all" %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, user-scalable=0">
<%= javascript_include_tag "v3_rails" %>
</head>
<body>

<%= yield %>

</body>
</html>
